@{
    ViewData["Title"] = "About Movie Catalog";
}
<h2>@ViewData["Title"]</h2>

<p>A ​Movie Catalog​ web application that will ask users to enter information about a movie that they have recently seen while also providing information about the movie itself and their experience watching the movie. Designed and developed by Syed Rumail (301106901).</p>
